@using HospitalzinhoSistema.Models.Paciente
@model PacienteDTO

@if (Model != null)
{
    <div id="sugestoes-cpf" hx-swap-oob="innerHTML"></div>

    <input type="text" id="cpf-paciente" name="SearchTerm"
           value="@Model.CPF"
           placeholder="Digite o CPF ou CNS do paciente"
           hx-get="@Url.Page("/Prontuario/Cadastro", "BuscarSugestoes")"
           hx-trigger="keyup changed delay:300ms"
           hx-target="#sugestoes-cpf"
           hx-swap="innerHTML"
           autocomplete="off"
           required
           hx-swap-oob="outerHTML" />
}

<!--class="hidden"-->
<section class="card-prontuario" id="dados-paciente">
    <div class="card-header">
        <h2>Paciente Localizado</h2>
    </div>
    <div class="card-body info-paciente">
        <div><strong>Nome:</strong> @Model.Nome </div>
        <div><strong>Data de Nasc.:</strong> @Model.DataNascimento </div>
        <div><strong>CPF:</strong> @Model.CPF </div>
    </div>
</section>

<section id="adicionar-registro">
    <h2>Adicionar Nova Informação</h2>
    <form>
        <div class="form-group">
            <label for="tipo-registro">Selecione o tipo de registro</label>
            <select id="tipo-registro" name="tipoRegistro"
                    hx-get="@Url.Page("/Prontuario/Cadastro", "FormularioRegistro")"
                    hx-trigger="load, change"
                    hx-target="#form-container"
                    hx-swap="innerHTML">
                <option value="consulta" selected>Nova Consulta</option>
                <option value="vacina">Nova Vacina</option>
                <option value="internacao">Nova Internação</option>
                <option value="alergia">Nova Alergia</option>
            </select>
        </div>

        <div id="form-container">
            <p>Carregando formulário...</p>
        </div>
        <button type="submit" class="btn-salvar">Salvar Registro</button>
    </form>
</section>