@using HospitalzinhoSistema.Models.Paciente
@model PacienteDTO

@if (Model != null)
{
    <div id="sugestoes-cpf" hx-swap-oob="innerHTML"></div>

    <input type="text" id="cpf-paciente" name="SearchTerm"
           value="@Model.CPF"
           placeholder="Digite o CPF ou CNS do paciente"
           hx-get="@Url.Page("Consulta", "BuscarSugestoes")"
           hx-trigger="keyup changed delay:300ms"
           hx-target="#sugestoes-cpf"
           hx-swap="innerHTML"
           autocomplete="off"
           required
           hx-swap-oob="outerHTML" />
}

<section class="card-prontuario" id="dados-paciente">
    <div class="card-header">
        <h2>Dados do Paciente</h2>
    </div>
    <div class="card-body info-paciente">
        <!-- EXEMPLOS -->
        <div><strong>Nome:</strong> @Model.Nome </div>
        <div><strong>Data de Nasc.:</strong> @Model.DataNascimento </div>
        <div><strong>CPF:</strong> @Model.CPF </div>
        <div><strong>CNS:</strong> @Model.CNS </div>
        <div><strong>Mãe:</strong> @Model.NomeMae </div>
        <div><strong>Telefone:</strong> @Model.Contato.TelefoneCelular </div>
        <div><strong>Endereço:</strong> @Model.Endereco.Logradouro, @Model.Endereco.Numero, @Model.Endereco.Cidade-@Model.Endereco.Estado</div>
    </div>
</section>

@if (@Model.ProntuarioAlergia != null && @Model.ProntuarioAlergia.Count != 0)
{
    <section class="card-prontuario" id="alergias">
        <div class="card-header">
            <h2>Alergias Conhecidas</h2>
        </div>
        <div class="card-body">
        @foreach (var alergia in @Model.ProntuarioAlergia)
        {
            <p class="alergia-item">@alergia.DescricaoAlergia</p>
        }
        </div>
    </section>
}

@if (@Model.ProntuarioVacina != null && @Model.ProntuarioVacina.Count != 0)
{
    <section class="card-prontuario" id="vacinacao">
        <div class="card-header">
            <h2>Histórico de Vacinação</h2>
        </div>
        <div class="card-body table-container">
            <table>
                <thead>
                <tr>
                    <th>Vacina</th>
                    <th>Dose</th>
                    <th>Data</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var vacina in @Model.ProntuarioVacina)
                {
                    <tr>
                        <td>@vacina.Nome</td>
                        <td>@vacina.Dose</td>
                        <td>@vacina.DataAplicacao</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </section>
}

@if (@Model.ProntuarioConsulta != null && @Model.ProntuarioConsulta.Count != 0)
{
    <section class="card-prontuario" id="consultas">
        <div class="card-header">
            <h2>Histórico de Consultas</h2>
        </div>
        <div class="card-body table-container">
            <table>
                <thead>
                <tr>
                    <th>Data</th>
                    <th>Especialidade</th>
                    <th>Resumo</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var consulta in @Model.ProntuarioConsulta)
                {
                    <tr>
                        <td>@consulta.DataConsulta</td>
                        <td>@consulta.Especialidade</td>
                        <td>@consulta.Resumo</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </section>
}

@if (@Model.ProntuarioInternacao != null && @Model.ProntuarioInternacao.Count != 0)
{
    <section class="card-prontuario" id="internacoes">
        <div class="card-header">
            <h2>Histórico de Internações</h2>
        </div>
        <div class="card-body table-container">
            <table>
                <thead>
                <tr>
                    <th>Entrada</th>
                    <th>Saída</th>
                    <th>Motivo</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var internacao in @Model.ProntuarioInternacao)
                {
                    <tr>
                        <td>@internacao.DataEntrada</td>
                        <td>@internacao.DataSaida</td>
                        <td>@internacao.MotivoInternacao</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </section>
}

<section class="card-prontuario" id="medicamentos">
    <div class="card-header">
        <h2>Medicamentos em Uso / Prescrições Recentes</h2>
    </div>
    <div class="card-body table-container">
        <table>
            <thead>
                <tr>
                    <th>Medicamento</th>
                    <th>Dosagem</th>
                    <th>Início</th>
                    <th>Profissional</th>
                </tr>
            </thead>
            <tbody>
                <!-- EXEMPLOS -->
                <tr>
                    <td>Losartana Potássica</td>
                    <td>50mg, 1x ao dia</td>
                    <td>05/04/2023</td>
                    <td>Dr. Carlos Andrade</td>
                </tr>
                <tr>
                    <td>Sinvastatina</td>
                    <td>20mg, 1x ao dia</td>
                    <td>05/04/2023</td>
                    <td>Dr. Carlos Andrade</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>